# Provide Satellite or Capsule to
# be used for registeration
capsule: sat6.example.com

# Activation key to be used for the registration 
# of hosts defined in the inventory
activationkey: rhel7-generic-test

# Your Organizations name as configured in the Satellite
organization: Default_Organization

# If your rhsm.conf contains a proxy server
# it will most probably fail to register
# the systes to Satellite server.
# Should be removed by defining the proxy_host
# and port
# If not defined, it will be ignored
#proxy_host: proxy.example.com
#proxy_port: 3128
